<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rathore.kitchen">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity
        android:name=".Activity.HomeAct"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".Activity.RecipesItemAct"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.rathore.kitchen.Activity.RecipesItemAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DietwhizAct"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.rathore.kitchen.Activity.DietwhizAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GroceryAct"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.rathore.kitchen.Activity.GroceryAct" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity
        android:name=".Activity.BarTanderVitualWineAct"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
            <action android:name="com.rathore.kitchen.Activity.BarTanderVitualWineAct" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>


        <activity
            android:name=".Activity.AddDietAct"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.rathore.kitchen.Activity.AddDietAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AddItemToBuyAct"
            android:label="AddDiet"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.AddVirtualWineManagerAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
<!--        <activity android:name=".Activity.BarTanderAct" />-->

<!--        <activity android:name=".Activity.BartendarListAct" />-->
        <activity
            android:name=".Activity.BookmarkRecipesList"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.archirayan.kitchen.Activity.BookmarkRecipesList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".Activity.RegisterAct" />-->
        <activity
            android:name=".Activity.DietSingleRecordAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Activity.DringAllDetailsAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.ActivityWebview" />
        <activity
            android:name=".Activity.WineBottelDetailDisplay"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Activity.GroceryShopAct"
            android:label="AddDiet"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.rathore.kitchen.Activity.GroceryShopAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".Activity.LoginAct" />-->
        <activity
            android:name=".Activity.MyBarShelfAllDetailsAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.RecipesDetailsAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Activity.RecipesList"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.archirayan.kitchen.Activity.RecipesList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TimeWizarAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.archirayan.kitchen.Activity.TimeWizarAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.VirtualWineManager"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.archirayan.kitchen.Activity.VirtualWineManager" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".Activity.VirtualwineDetailAct" />-->
        <activity
            android:name=".Activity.WineBottleDetailUpdate"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
<!--        <activity android:name=".CloseActivity">-->

<!--            <intent-filter>-->
<!--                <action android:name="com.archirayan.kitchen.CloseActivity" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


    </application>

</manifest>